<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0"> 
      
	<servlet>
		<servlet-name>AccueilControler</servlet-name>
		<servlet-class>railsimulator.referentiel.controleur.AccueilControler</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LigneControler</servlet-name>
		<servlet-class>railsimulator.referentiel.controleur.LigneControler</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CantonControler</servlet-name>
		<servlet-class>railsimulator.referentiel.controleur.CantonControler</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>StationControler</servlet-name>
		<servlet-class>railsimulator.referentiel.controleur.StationControler</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ReseauControler</servlet-name>
		<servlet-class>railsimulator.referentiel.controleur.ReseauControler</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>VisualisationControler</servlet-name>
		<servlet-class>railsimulator.visualisation.controleur.VisualisationControler</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LigneControler</servlet-name>
		<url-pattern>/ligne</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>AccueilControler</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CantonControler</servlet-name>
		<url-pattern>/canton</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>StationControler</servlet-name>
		<url-pattern>/station</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ReseauControler</servlet-name>
		<url-pattern>/reseau</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>VisualisationControler</servlet-name>
		<url-pattern>/visualiser</url-pattern>
	</servlet-mapping>
	
	
</web-app>