<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
     "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://178.33.40.163:3307/railsimulator</property>
		<property name="hibernate.connection.username">admin</property>
		<property name="hibernate.connection.password">KMKadmin94700</property>
		
		<!-- Comportement pour la conservation des tables -->
		<!-- <property name="hbm2ddl.auto">create</property> -->
		<property name="hbm2ddl.auto">update</property>


		<!-- Fichiers à mapper -->
		<mapping class="beans.Ligne" />
		<mapping class="beans.Canton" />
		<mapping class="beans.Station" />
		<mapping class="beans.Reseau" />
		<mapping class="beans.Zone" />
		<mapping class="beans.Lieu" />
		<mapping class="beans.Geolocalisation" />
		<mapping class="beans.AnnonceVoyageur" />	
		<mapping class="beans.Message" />
		<mapping class="beans.Etape" />
		<mapping class="beans.Train" />
		<mapping class="beans.TypeAnnonce" />
		<mapping class="beans.BiFrequentationLigne" />
		<mapping class="beans.BiLigne" />
		<mapping class="beans.BiRecette" />
		<mapping class="beans.BiSatisfaction" />
		<mapping class="beans.BiObjectif" />
		<mapping class="beans.Incident" />
		<mapping class="beans.Procedure" />
		<mapping class="beans.TypeIncident" />
		<mapping class="beans.Action" />
		<mapping class="beans.ParametreHoraire" />
		<mapping class="beans.TrainHoraireStation" />
        <mapping class="beans.CoutFonctionnement" />
        <mapping class="beans.OptimisationChemin" />        
        <mapping class="beans.Porte" />
        <mapping class="beans.Frein" />
        <mapping class="beans.Wagon" />
        <mapping class="beans.Rail" />
        <!-- gestion du personnel -->
        <mapping class="beans.Employe" />
		<mapping class="beans.HoraireP" />
		<mapping class="beans.Site" />
		<mapping class="beans.PosteParSite" />
		<mapping class="beans.FactHoraire" />
		<mapping class="beans.Tache" />
		<mapping class="beans.EmpTache" />
        
        

		<!-- Affiche les logs SQL -->
		<!-- <property name="show_sql">true</property> -->
		<!-- <property name="hibernate.format_sql">true</property> -->
		<!-- <property name="use_sql_comments">true</property> -->

	</session-factory>
</hibernate-configuration>
